/******Google Fonts*****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&family=Patrick+Hand+SC&display=swap');
.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
.header,
.name-input,
.num-value,
.total-value,
.container h2,
.container #dice-image,
.btns,
.resultDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.header{
    font-family: 'Patrick Hand SC', cursive;
    padding: 10px 0px 0px;
    font-size: 50px;
    font-weight: bold;
}
.container img{
    margin: auto;
    height: 150px;
}
.btns button{
    margin: 0px 150px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size:25px;
    background-color:#cc2900;
    border: 2px solid #cc2900;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    color: #5f5f5f;
}
.btns button:hover{
    color: #ffffff;
}
.name-input .name{
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size:20px;
    height: 30px;
    width: 150px;
    border-radius: 6px;
    color: #5f5f5f;
}
.name-input .player-name{
    height: 30px;
}
.remov{
    opacity:0;
    transition: 2s;
}
.player-name::placeholder{
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
}
.player{
    opacity: 1;
    transition: 3s;
}
.player p{
    text-transform: capitalize;
    font-size: 25px;
    line-height: 30px;
    padding: 0px;
    font-family: 'Patrick Hand SC', cursive;
}
.dice-values,
.dice-total{
    display: flex;
    flex-direction: row;
}
.num-value p,
.total-value p{
    margin-top: 0px;
    margin-bottom: 0px;
}